<div class="container">
    <div class="login-div my-5">
        <h3 class="page-header">Giriş Yap</h3>
        <form asp-action="Login" asp-controller="Login" method="post">
            @Html.AntiForgeryToken()
            <div class="form-group login-form-group">
                <small id="emailHelp" class="form-text">E-Mail</small>
                <input type="email" name="username" class="form-control login-form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <button type="submit" class="btn btn-block btn-login-submit">Parola Sıfırla</button>
        </form>
    </div>
</div>