<div class="new-companies">
    <h6>New companies on ORDERFOX.com</h6>
    <ul class="new-companies-list">
        <li>
            <span class="company-name">Lucent Ind. Manufacturing Ltd</span>
            <span class="company-visisorts-count">1 Visit</span>
        </li>
        <li>
            <span class="company-name">Lucent Ind. Manufacturing Ltd</span>
            <span class="company-visisorts-count">1 Visit</span>
        </li>
        <li>
            <span class="company-name">Lucent Ind. Manufacturing Ltd</span>
            <span class="company-visisorts-count">1 Visit</span>
        </li>
        <li>
            <span class="company-name">Lucent Ind. Manufacturing Ltd</span>
            <span class="company-visisorts-count">1 Visit</span>
        </li>
    </ul>
</div>