@{
    ViewData["Title"] = "Pricing";
}
<link rel="stylesheet" href="~/css/navbar.css">
<link rel="stylesheet" href="~/css/market.css">
<link rel="stylesheet" href="~/css/footer.css">
<div class="container">
    <div class="market-div my-5">
        <h2 class="page-slogan"><span> İhtiyaçlarınıza göre </span> farklı fiyatlandırma seçenekleri</h2>
        <p class="page-desc">
            Ücretsiz planımızı seçin, Profesyonel seçeneğini ekleyin veya daha fazla değer için Enterprise'ımızı edinin
        </p>

        <div class="row">
            <div class="col-md-4">
                <div class="plan">
                    <h3 class="plan-price">0 ₺</h3>
                    <p class="plan-name">ÜCRETSİZ PLAN</p>
                    <small>Ücretsiz temel ürün özelliği için</small>
                    <ul class="plan-items">
                        <li>Ayda 100 RFQ'ya kadar</li>
                        <li>5 Teklif Talebi Detayları ücretsiz</li>
                        <li>Ayda 5 sorgu görüntüleyin ve teklif sunun</li>
                        <li>Akıllı filtrelerle arama sorgulamaları yapın</li>
                    </ul>
                    <button class="btn btn-get-start">BAŞLA</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="plan">
                    <h3 class="plan-price">249 ₺</h3>
                    <p class="plan-name">PROFESYONEL PLAN</p>
                    <small>Minimum ürün özelliği için</small>
                    <ul class="plan-items">
                        <li>Ayda 100 RFQ'ya kadar</li>
                        <li>5 Teklif Talebi Detayları ücretsiz</li>
                        <li>Sipariş alma şansını artırın</li>
                        <li>Ek 20 Teklif Talebi Ayrıntıları</li>
                        <li>Akıllı filtrelerle arama sorgulamaları yapın</li>
                    </ul>
                    <button class="btn btn-get-start">BAŞLA</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="plan">
                    <h3 class="plan-price">349 ₺</h3>
                    <p class="plan-name">İŞLETME PLANI</p>
                    <small>İnanılmaz ürün özelliği için</small>
                    <ul class="plan-items">
                        <li>Ayda 100 RFQ'ya kadar</li>
                        <li>Sınırsız RFQ Ayrıntıları</li>
                        <li>Diğer tüm sorular da size ücretsiz olarak görülebilir.</li>
                        <li>Akıllı filtrelerle arama sorgulamaları yapın</li>
                        <li> Aylık veya  Yılık 3000 ₺ ödeyin </li>
                    </ul>
                    <button class="btn btn-get-start">BAŞLA</button>
                </div>
            </div>
        </div>
    </div>
</div>