@{
    ViewData["Title"] = "Pricing";
}
<link rel="stylesheet" href="~/css/navbar.css">
<link rel="stylesheet" href="~/css/market.css">
<link rel="stylesheet" href="~/css/footer.css">
<div class="container">
    <div class="market-div my-5">
        <h2 class="page-slogan">Different pricing options <span>based on your needs</span></h2>
        <p class="page-desc">
            Choose our free plan, add on the Professional option, or for more value, get our Enterprise
        </p>

        <div class="row">
            <div class="col-md-4">
                <div class="plan">
                    <h3 class="plan-price">$ 00.0</h3>
                    <p class="plan-name">FREE PLAN</p>
                    <small>For free basic product feature</small>
                    <ul class="plan-items">
                        <li>Up to 100 RFQs/month</li>
                        <li>5 RFQ Details free of charge</li>
                        <li>View and offer 5 queries per month</li>
                        <li>Search inquiries with smart filters</li>
                    </ul>
                    <button class="btn btn-get-start">GET STARTED</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="plan">
                    <h3 class="plan-price">$ 120.0</h3>
                    <p class="plan-name">PROFESSIONAL PLAN</p>
                    <small>For minimal product feature</small>
                    <ul class="plan-items">
                        <li>Up to 100 RFQs/month</li>
                        <li>5 RFQ Details free of charge</li>
                        <li>Increase chances of receiving orders</li>
                        <li>Additional 20 RFQ Details</li>
                        <li>Search inquiries with smart filters</li>
                    </ul>
                    <button class="btn btn-get-start">GET STARTED</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="plan">
                    <h3 class="plan-price">$ 160.0</h3>
                    <p class="plan-name">ENTERPRISE PLAN</p>
                    <small>For full incrediable product feature</small>
                    <ul class="plan-items">
                        <li>Up to 100 RFQs/month</li>
                        <li>Unlimited RFQ Details</li>
                        <li>All other inquiries are also freely visible to you</li>
                        <li>Search inquiries with smart filters</li>
                        <li>Pay per month or € 1,728 annually</li>
                    </ul>
                    <button class="btn btn-get-start">GET STARTED</button>
                </div>
            </div>
        </div>
    </div>
</div>