:root{
    --dark-blue: #020E28;
    --medium-blue: #041332;
    --light-blue: #A0A9BB;
    --orange: #F55B14;
    --border-color:#E6E6E6;
    --border-dark-color:#020E28;
    --font-color:#848484;
    --main-bg-color:#F2F5F7;
}