.page-header {
    text-align: center;
    margin-bottom: 3rem;
}

.page-header h2 {
    margin-bottom: 1rem;
}

.page-header p {
    margin-bottom: 0;
}

.order-summary,
.workspace-data,
.additional-information,
.publication-settings {
    border: 1px solid var(--border-dark-color);
    padding: 3rem;
}

.order-summary h5,
.workspace-data h5,
.additional-information h5,
.publication-settings h5 {
    margin-bottom: 3rem;
}

.create-rfq-form-group {
    border: 1px solid var(--border-dark-color);
    padding-left: 1rem;
    padding-top: 3px;
}

.create-rfq-form-group small {
    text-align: left;
}

.create-rfq-form-control {
    border: 0;
    padding: 0;
    height: 30px;
}

.bootstrap-select button,
.bootstrap-select button:hover,
.bootstrap-select:focus {
    background-color: transparent !important;
    padding-left: 0 !important;
    border: 0 !important;
}

.bottom-info {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.bottom-info h6 {
    margin-bottom: 0;
}


.bottom-info i {
    color: var(--orange);
    margin: 0 1.5rem;
}

.switch {
    position: relative;
    display: inline-block;
    width: 29px;
    height: 13px;
    margin-bottom: 0;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: -10px;
    bottom: -3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    -webkit-box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.5);
}

input:checked+.slider {
    background-color: var(--orange);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--orange);
}

input:checked+.slider:before {
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.workspace-data i {
    color: var(--orange);
}

.file-upload {
    border: 2px solid var(--orange);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    padding: 2rem;
}

.file-form-control-hide {
    display: none;
}

.file-upload .form-group {
    margin-bottom: 0;
}

.btn-add-file {
    text-align: center;
    color: var(--orange);
    cursor: pointer;
    font-weight: 600;
    background-color: transparent;
    border: 0;
}

.btn-border {
    width: 85px;
    height: 85px;
    border: 2px dashed var(--orange);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: .5rem;
}

.btn-icon {
    width: 60px;
    height: 60px;
    background-color: var(--orange);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-icon i {
    color: white !important;
}

.dimensions {
    margin-top: 2rem;
}

.dimensions h6 {
    margin-bottom: 1rem;
}

.dimensions-bottom {
    width: 100%;
    margin-top: 3rem;
}

.dimensions-bottom .row {
    margin: 0;
}

.dimensions-bottom .bootstrap-select button,
.dimensions-bottom .bootstrap-select button:hover,
.dimensions-bottom .bootstrap-select:focus,
.additional-information .bootstrap-select button,
.additional-information .bootstrap-select button:hover,
.additional-information .bootstrap-select:focus,
.publication-settings button,
.publication-settings button:hover,
.publication-settings .bootstrap-select:focus {
    background-color: transparent !important;
    padding-left: 10px !important;
    border: 1px solid var(--border-dark-color) !important;
    border-radius: 0;
    outline: none !important;
}

.dimensions-bottom .form-text,
.additional-information .form-text,
.publication-settings .form-text {
    margin-bottom: 1rem;
}

.additional-information textarea {
    border: 1px solid var(--border-dark-color) !important;
}

.publication-settings p {
    margin-bottom: 0;
}

.section-header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.section-header h6 {
    margin-bottom: 0;
    font-weight: 550;
}

.section-header .switch {
    margin-left: 2rem;
}

.uploaded-files{
    margin-left: 3rem;
    height: 120px;
    overflow-y: auto;
}

.uploaded-files h6{
    font-weight: bolder;
}

.uploaded-files ul{
    list-style: none;
    padding-left: 0;
}

.uploaded-files li button{
    padding: 0 0 0 1.5rem;
}

@media screen and (max-width: 768px) {
    .section-header {
        margin-top: 2rem;
    }
}