footer {
    background-color: var(--dark-blue);
    padding-top: 2rem;
}

.social-media-icons{
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

.social-media-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-right: 0.5rem;
    border-radius: 50%;
    height: 42px;
    width: 42px;
}

.social-media-icon a{
    color: var(--dark-blue);
}

.social-media-icon a:hover{
    color: var(--orange);
}

.footer-section-header{
    color: white;
    font-weight: bolder;
}

.footer-links{
    padding-left: 0;

}

.footer-links li{
    list-style-type: none;
    text-decoration: none;
    padding-bottom: 1.5rem;
}

.footer-links li::before{
    content: url('/img/icons/footer-question-mark.svg');
    padding-right: 10px;
}

.footer-links li a{
    color: var(--light-blue);
}


.footer-bottom{
    background-color: var(--medium-blue);
}

.footer-bottom-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 0;
}

.copyright{
    color: white;
}

.copyright span > a{
    color: var(--orange);
    text-decoration: none;
}

.footer-bottom ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 0;
}

.footer-bottom li {
    list-style-type: none;
    margin-right: 1rem;
    padding-right: 1rem;
    border-right: 1px solid var(--light-blue);
}

.footer-bottom li:last-child{
    border-right: 0;
    margin-right: 0;
    padding-right: 0;
}

.footer-bottom li a {
    color: white;
    text-decoration: none;
}


@media screen and (max-width: 768px) {
    .footer-bottom ul {
        padding-left: 0;
        margin-left: 0;
        margin-top: .5rem;
    }

    .col-md-3 .footer-section-header{
        margin-top: 1rem;
    }
}