.thank-you-div{
    text-align: center;
    border: 3px solid var(--border-dark-color);
}

.check-mark-bg-div{
    background-color: white;
    border: 3px solid var(--border-dark-color);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
}

.check-mark-img-div{
    background-color: var(--orange);
    width: 85px;
    height: 85px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-header{
    margin-top: 2rem;
}

.div-content{
    margin-top: 1.5rem;
    margin-bottom: 4rem;
}

.btn-to-home-page{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    background-color: var(--orange);
    height: 54px;
    border-radius: 5px;
    margin: auto auto 5rem auto;
    color: white;
}
@media screen and (max-width: 768px) {
    .thank-you-div{
        padding: 0 2rem;
    }
}